:root {
  --color-primary-light: #8563ee;
  --color-primary: #6148af;
  --color-primary-dark: #372862;

  --color-secondary: #fff;
  --color-secondary-dark: #f0f0f0;
  --color-secondary-darker: #7f7f7f;


  --color-yellow: #fed676;
  --color-light-red: #d83074;
  --color-blue: #0b9cdf;

  --font-primary: "Open Sans", Helvetica, Arial;
  --font-secondary: Quicksand, Courier, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary-dark);
  font-family: var(--font-secondary);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-primary-dark);
  text-decoration-color: var(--color-primary-dark);
}

a:hover {
  color: var(--color-primary-light);
  text-decoration-color: var(--color-primary-light);
  transition: all .1s linear;
}

ul, ol, dl {
  color: var(--color-primary-dark);
}

blockquote {
  color: var(--color-primary-dark);
}

cite {
  color: var(--color-primary-light);
  font-family: var(--font-secondary);
}

b, strong, abbr {
  color: var(--color-primary-dark);
}

del {
  text-decoration-color: var(--color-primary);
}

mark {
  color: var(--color-secondary);
  background-color: var(--color-primary-light);
}

fieldset {
  font-family: var(--font-secondary);
  border-top: none;
  color: var(--color-primary-dark);
}
