.home-text-box-banner {
  display: block;
  background-color: var(--color-primary);
}
.home-text-image-banner {
  background-image: url(../../images/rubik-mainbanner.jpg);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

.home-text-box-banner {
  bottom: 0;
}

.separator {
  color: var(--color-primary-dark);
}

.info-container {
  border-top: 4px solid var(--color-primary-dark);
  border-bottom: 4px solid var(--color-primary-dark);
}

dl dd {
  margin: 0;
}

.popular-sell {
  margin-bottom: 4px solid var(--color-whatever);
}

.h3-separator {
  border-bottom: 4px solid var(--color-primary-dark);
  display: inline-block;
  line-height: 62px;
}

@media only screen and (min-width: 60em) {

  .banner {
    position: relative;
  }

  .home-text-box-banner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20em;
    background-color: transparent;
  }

  .banner-h1 {
    color: var(--color-accent);
    text-shadow: 4px 0 0 var(--color-secondary-light), -4px 0 0 var(--color-secondary-light), 0 4px 0 var(--color-secondary-light), 0 -4px 0 var(--color-secondary-light);
  }

  .banner-p {
    background-color: var(--color-secondary-light);
    border-radius: 6px;
    border: 6px solid var(--color-accent);
    padding: 1em;
  }

  .home-text-image-banner {
    background-image: url(../../images/rubik-mainbanner.jpg);
    background-size: 130%;
    height: 100vh;
    background-position: center;
  }
}
