.banner {
  background: url("../../images/home-banner.png") center top / cover no-repeat;
  height: 80vh;
}

h1 {
  padding-top: 9em;
  color: var(--color-whatever);
  font-family: "Archivo Black", sans-serif;
}

p {
  color: var(--color-primary-light);
}
