.btn {
  background-color: transparent;
  border-color: var(--color-primary) ;
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary-light);
  border-color: transparent;
}

.nav-btn {
  background-color: transparent;
  border-color: transparent ;
  color: var(--color-primary);
}

.nav-btn:hover {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-ghost {
  border-color: var(--color-primary);
  color: var(--color-neutral-dark-grey);
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: transparent;
  color: var(--color-primary);
}

.btn-light {
  background-color: var(--color-primary-light);
  color: #fff;
}

.btn-light:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-light-yellow);
  border-color: transparent;
}
