.all {
  background-color: var(--color-rustybrown);
}

li {
  color: var(--color-primary-light);
}

.topnav li {
  display: inline-block;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 0px 14px;
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
  color: var(--color-primary-light);
}

.topnav a.active {
  color: var(--color-accent);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 10px;
  border: none;
  display: inline-block;
}

button {
  padding: 4px;
  background: var(--colour-primary);
  border-style: none;
  display: inline-block;

}

.title {
  background-color: var(--color-rustybrown);
}

h1 {
  color: var(--color-accent);
}

.footer-box {
  background-color: var(--color-rustybrown);
}

p {
  color: var(--color-accent);
}

.logo {
  max-width: 150px;
  max-height: 150px;
  margin: 0;
}

ul > li::before {
  display: none;
}
