.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav a.active {
  color: var(--color-accent);
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 1em;
  background: var(--colour-primary);
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: var(--color-secondary);
}
