{% pattern navigations/tool-bar %}
<header class="masthead max-length text-center pad-t-2 pad-b">
  <div class="wordmark push-1-2">
    <a href="/" aria-label="This link will bring you to the home page.">
      <i class="icon i-64">
        <img src="/images/logo.svg" alt="Logo for the Catonaut website">
      </i>
      <span class="icon-label exa text-upper ib">Catonaut</span>
    </a>
  </div>
  <div>
    <input type="checkbox" id="main-nav" class="main-check">
    <label for="main-nav" class="main-label island-1-2 block" aria-label="This will expand the navigation menu.">
      <i class="icon i-48">
        <svg><use xlink:href="/images/icons.svg#burger" /></svg>
      </i>
    </label>
    <nav class="main-nav">
      <ul class="list-group-inline text-center grid grid-middle">

        <li class="unit xs-1 s-1 m-1-4 l-1-4 {% if page.highlight_nav == 'all products' %}current{% endif %}">
          <a class="island-1-2 block" href="/products/" aria-label="This link will bring you to the all products page.">All Products</a>
        </li>

        <li class="unit xs-1 s-1 m-1-4 l-1-4 relative">
          <input type="checkbox" id="print-nav" class="print-check" aria-label="This will expand the prints navigation menu.">
          <label for="print-nav" class="island-1-2 block">
            <span>Art Prints</span>
          </label>
          <nav class="print-nav w-1 zindex-1000 sec-nav" id="nav">
            <ul class="list-group push-0">
              <li class="valign-middle {% if page.highlight_nav == 'framed' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="This link will bring you to the framed products page.">Framed</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'posters' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="This link will bring you to the poster products page.">Posters</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'cards' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="This link will bring you to the card products page.">Cards</a>
              </li>
            </ul>
          </nav>
        </li>

        <li class="unit xs-1 s-1 m-1-4 l-1-4 relative">
          <input type="checkbox" id="cloth-nav" class="cloth-check" aria-label="This will expand the Apparels navigation menu.">
          <label for="cloth-nav" class="island-1-2">
            <span>Apparels</span>
          </label>
          <nav class="cloth-nav w-1 zindex-1000 sec-nav" id="nav">
            <ul class="list-group push-0">
              <li class="valign-middle {% if page.highlight_nav == 'menswear' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="This link will bring you to the menswear product page.">Menswear</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'womanswear' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="This link will bring you to the womanswear product page.">Womanswear</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'kidswear' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="This link will bring you to the kidswear product page.">Kidswear</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'babies' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="">Babies</a>
              </li>
            </ul>
          </nav>
        </li>

        <li class="unit xs-1 s-1 m-1-4 l-1-4 relative">
          <input type="checkbox" id="elec-nav" class="elec-check">
          <label for="elec-nav" class="island-1-2">
            <span>Device Cases</span>
          </label>
          <nav class="elec-nav w-1 zindex-1000 sec-nav" id="nav">
            <ul class="list-group push-0">
              <li class="valign-middle {% if page.highlight_nav == 'android' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="">Android</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'iphone' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="">Iphone</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'ipad' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="">Ipads</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'mac' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="">Macbook Pro</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'laptop' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="">Laptops</a>
              </li>
              <li class="valign-middle {% if page.highlight_nav == 'tablet' %}current{% endif %}">
                <a class="block milli island-1-2" href="#" aria-label="">Tablets</a>
              </li>
            </ul>
          </nav>
        </li>
      </ul>
    </nav>
  </div>
</header>
