.breadcrumb a,
.page-nav a {
  text-decoration: none;
  font-family: var(--font-secondary);
}

.breadcrumb {
  border-bottom: 1px solid var(--color-primary-dark);
}

.slash {
  background: url(../../images/slash.svg) center right / 1rem auto no-repeat;
  padding-right: 1.2rem;
}

.active,
.hover:hover {
  color: var(--color-primary-light);
  font-family: var(--font-secondary);
}

.social-nav li a {
  color: var(--color-secondary);
}

.social-nav li a:hover {
  color: var(--color-light-red);
}

.page-nav .hover:hover {
  text-decoration: underline;
}

.social-nav a,
.side-nav a {
  text-decoration: none;
}

.side-navigation,
.side-label {
  color: var(--color-primary-dark);
  width: 100%;
  max-width: 15em;
}

.side-label {
  border-bottom: 1px solid var(--color-secondary-darker);
}

.side-check[type="checkbox"] + label::before {
  position: absolute;
  top: -50em;
  left: -50em;
}

.side-nav {
  display: none;
}

.side-check:checked ~ .side-nav {
  display: block;
}

.side-nav a {
  border-left: 2px solid var(--color-secondary-dark);
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary-darker);
  font-family: var(--font-primary);
}

.side-icon {
  transform: rotate(180deg);
}

.side-check:checked ~ .side-label i > .side-icon {
  transform: rotate(0deg);
}

.side-check:checked ~ .side-label {
    border-bottom: none;
}

.side-nav a:hover {
  color: var(--color-primary-light);
  border-left: 2px solid var(--color-primary-light);
}

.side-nav li .btn {
  display: block;
}

.side-nav .side-current {
  border-left: 2px solid var(--color-primary-light);
  color: var(--color-primary-light);
}

.tool-bar {
  background-color: var(--color-primary);
}

.tool-bar li > a {
  color: var(--color-secondary);
  text-decoration: none;
}

.tool-bar li:last-child svg {
  color: var(--color-yellow);
}

.tool-bar li:hover {
  background-color: var(--color-primary-dark);
}

.main-check[type="checkbox"] + label::before,
.print-check[type="checkbox"] + label::before,
.cloth-check[type="checkbox"] + label::before,
.elec-check[type="checkbox"] + label::before {
  position: absolute;
  top: -20em;
  left: -20em;
}

.main-nav {
  display: none;
}

.main-check ~ .main-label i > svg {
  border: 2px solid var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.main-check:checked ~ .main-label i > svg {
  background-color: var(--color-blue);
  color: var(--color-yellow);
  border-color: transparent;
}

.main-check:checked ~ .main-nav {
  display: block;
}

.print-nav,
.cloth-nav,
.elec-nav {
  display: none;
}

.print-check:checked ~ .print-nav,
.cloth-check:checked ~ .cloth-nav,
.elec-check:checked ~ .elec-nav {
  display: block;
}

.sec-nav {
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  background-color: var(--color-secondary-dark);
}

.main-nav li {
  border-bottom: 2px solid transparent;
}

.main-nav li:hover {
  border-bottom-color: var(--color-primary);
}

.main-nav li > label:hover {
  color: var(--color-primary-light);
}

.sec-nav li:hover {
  background-color: var(--color-secondary-darker);
  border-bottom-color: transparent;
}

.sec-nav li:hover a {
  color: var(--color-secondary);
}

.current a,
.current label {
  color: var(--color-primary-light);
}

.main-nav .current {
  border-bottom-color: var(--color-primary);
}

.sec-nav .current {
  background-color: var(--color-primary-light);
  border-bottom-color: transparent;
}

.sec-nav .current a {
  color: var(--color-secondary);
}

@media only screen and (min-width: 38em) {

  .main-check,
  .main-check[type="checkbox"] + label {
    display: none;
  }

  .main-nav {
    display: block;
  }

  .sec-nav {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

}
