.breadcrumb li a {
    color: var(--color-secondary-dark);
    text-decoration: none;
    display: inline-block;
}

.breadcrumb li a:hover {
    color: var(--color-primary-dark);
}

.page-available {
  color: var(--color-secondary-light);
}

.current {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-dark);
}
.page-nav-bar {
  background-color: var(--color-primary-dark);
}

.buttons {
  color: var(--color-accent);

}

h2 {
  line-height: 48px;
}
.cart-btn {
  width: 32px;
  height: 32px;
}

.current {
  border: 4px solid var(--color-accent);
  border-radius: 8px;
}

.sections {
  background-color: var(--color-secondary);
}

.tool-bar {
  background-color: var(--color-secondary-light);
  box-shadow: 2px -6px 20px var(--color-accent);
}

.cart-click {
  display: inline-block;
  top: 0;
  left: 0;
}

.cart-clicked {
  display: none;
  top: 0;
  left: 0;
}

.cart-btn:focus .cart-click {
  display: none;
}

.cart-btn:focus .cart-clicked {
  display: block;
}

.section-illustration {
  background-color: var(--color-primary-dark);
}

.filter-section-title {
  background: var(--color-secondary-dark);
  border-radius: 10px 10px 0 0;
}

.accesibility-notice,
.filter-section {
  border: 6px solid var(--color-accent);
  border-radius: 20px;
  background-color: var(--color-secondary-light);
}

.accesibility-illustration {
  right: -10em;
  top: 4em;
  display: none;
}


@media only screen and (min-width: 60em){

  .accesibility-illustration {
    display: block;
    top: 5em;
    right: -7em;
  }

}
