.breadcrumb li a {
    color: var(--color-primary-dark);
    text-decoration: none;
    display: inline-block;
}

.breadcrumb li a:hover {
    color: var(--color-secondary-dark);
}

.page-available {
  color: var(--color-secondary-light);
}

.current-page {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-dark);
  border: 4px solid var(--color-accent);
  border-radius: 8px;

}
.page-nav-bar {
  background-color: var(--color-primary-dark);
}

.buttons {
  color: var(--color-accent);
}

.field-padding {
  padding: 0;
}

.cart-btn {
  width: 32px;
  height: 32px;
}

.sections {
  background-color: var(--color-secondary);
}

.tool-bar {
  background-color: var(--color-secondary-light);
  box-shadow: 2px -6px 20px var(--color-accent);
}

.cart-click {
  display: inline-block;
  top: 0;
  left: 0;
}

.cart-clicked {
  display: none;
  top: 0;
  left: 0;
}

.cart-btn:focus .cart-click {
  display: none;
}

.cart-btn:focus .cart-clicked {
  display: block;
}

.section-illustration {
  background-color: var(--color-primary-dark);
}

.i-sizing-accessibility {
  width: 360px;
  height: 630px;
  top: -4em;
  right: 3em;
}

.notice-wrapper {
  max-width: 36em;
}

.accesibility-notice {
  border: 6px solid var(--color-accent);
  border-radius: 20px;
  background-color: var(--color-secondary-light);
}

.accesibility-illustration {
  right: -10em;
  top: 4em;
  display: none;
}

@media only screen and (min-width: 80em){

  .accesibility-illustration {
    display: block;
  }

}
