.breadcrumb li a {
    color: var(--color-secondary-dark);
    text-decoration: none;
    display: inline-block;
}

.breadcrumb li a:hover {
    color: var(--color-primary-dark);
}

.page-available {
  color: var(--color-secondary-light);
}

.current {
  background-color: var(--color-secondary-dark);
  color: var(--color-primary-dark);
}
.page-nav-bar {
  background-color: var(--color-primary-dark);
}

.buttons {
  color: var(--color-accent);

}

.icon-flip {
  transform-origin: right bottom;
  transform:
    rotate(90deg)
    translate(0, 90%)
    rotate(90deg)
    translate(0, 100%);
}

h2 {
  line-height: 48px;
}

.pin-top-left, .pin-left-top, .pin-tl, .pin-lt {
  top: -24px;
  left: 0;
}

.current {
  border: 4px solid var(--color-accent);
  border-radius: 8px;
}

.sections {
  background-color: var(--color-secondary);
}

.tool-bar {
  background-color: var(--color-secondary-light);
  box-shadow: 2px -6px 20px var(--color-accent);
}

.cart-clicked {
  display: none;
}

.cart-btn:focus .cart-click {
  display: none;
}

.cart-btn:focus .cart-clicked {
  display: block;
}
