.nav-bar {
  background-color: var(--color-neutral);
  height: 4em;
  position: relative;
  z-index: 300;
}

#nav-items {
  background-color: var(--color-secondary-light);
  padding-top: 3em;
  border: 4px solid var(--color-accent);
  border-radius: 10px;
}

.nav-section {
  color: var(--color-accent);
}

.hover-nav:hover {
  border-bottom: 4px solid var(--color-primary-dark);
}

.pin-rt {
  top: 62px;
}

.current {
  border-bottom: 4px solid var(--color-secondary-dark);
  margin-bottom: .5em;
}

li.current {
  position: relative;
}

li.current::after {
  position: absolute;
  top: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  content:"";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: var(--color-secondary-dark);
}

li.current:hover::after {
  background-color: var(--color-primary-dark);
}

.nav-bar-toggle {
  display: none;
}

.toggle-clicked {
  display: none;
  z-index: 400;
}

#nav-check {
  left: -6em;
  height: 100%;
  position: absolute;
  bottom: -168px;
}

#nav-check:checked ~ .nav-bar-toggle {
  display: block;
  left: 0;
  bottom: -50px;
  height: 100%;
}

#nav-check:checked ~ .input-toggle .toggle-click  {
  display: none;
}

#nav-check:checked ~ .input-toggle .toggle-clicked  {
  display: block;
}

@media only screen and (min-width: 45em) {

  .nav-bar {
    background-color: var(--color-neutral);
    height: 4em;
    position: relative;
    z-index: 300;
  }

  #nav-items {
    background-color: var(--color-neutral);
    padding-top: 0;
    border: none;
    border-radius: 0;
  }

  .nav-bar-toggle {
    display: block;
  }

  #nav-items li {
    text-align: center;
    display: inline-block;
  }

  .input-toggle {
    display: none;
  }

}
