html {
  color: #000;
}

.flag-optional {
  color: #999;
}

label {
  display: block;
  color: var(--color-black);
}

input {
  padding: 12px 12px 12px 0;
}

.container {
  border-style: solid;
  border-color: var(--colour-primary);
  border-radius: 5px;
  background-color: var(--color-secondary);
  padding: 20px;
  max-width: 20em;
}

p {
  color: var(--color-black);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: var(--color-accent);
}

a {
  display: block;
}

a:hover {
  color: var(--colour-primary);
}

fieldset {
  border-style: none;
}

legend {
  color: var(--color-black);
}

select {
  display: block;
}

.error-message {
  display: none;
  border-style: solid;
  border-color: var(--colour-primary);
  border-radius: 5px;
  background-color: var(--color-rustybrown);
  border-radius: 5px;
  color: var(--color-accent);
}

.error-message-highlighted {
  border-style: solid;
  border-color: var(--colour-primary);
  border-radius: 5px;
  background-color: var(--color-rustybrown);
  color: var(--color-accent);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
