.btn {
  background-color: var(--color-primary);
  border-color: var(--color-accent);
  border-width: 8px;
  border-radius: 8px;

  color:#000;
  width: 4em;
  height: 4em;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-accent);

}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-primary-dark);
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-accent);
  border-width: 8px;
  border-radius: 8px;

  color:#000;
  width: 4em;
  height: 4em;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-light:hover {
  background-color: var(--color-secondary-light);
  border-color: var(--color-accent);

}

.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--color-secondary-dark);
}
