html {
  line-height: 24px;
}

.main-card,
.basic-card {
  border: 6px solid var(--color-neutral);
  border-radius: 20px;
  margin: 1em;
}

.basic-card:hover {
  border: 6px solid var(--color-accent);
  box-shadow: 3px 3px 30px var(--color-whatever);
}

.basic-card-link p {
  color: var(--color-accent);
}

/* -- ratings -- */
input[type="radio"] ~ label {
    display:inline-block;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    border: 2px solid var(--color-accent);
}

#rating-one[type="radio"]:checked  ~ [for="rating-one"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-two[type="radio"]:checked  ~ [for="rating-one"],
#rating-two[type="radio"]:checked  ~ [for="rating-two"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-three[type="radio"]:checked  ~ [for="rating-one"],
#rating-three[type="radio"]:checked  ~ [for="rating-two"],
#rating-three[type="radio"]:checked  ~ [for="rating-three"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-four[type="radio"]:checked  ~ [for="rating-one"],
#rating-four[type="radio"]:checked  ~ [for="rating-two"],
#rating-four[type="radio"]:checked  ~ [for="rating-three"],
#rating-four[type="radio"]:checked  ~ [for="rating-four"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-five[type="radio"]:checked  ~ [for="rating-one"],
#rating-five[type="radio"]:checked  ~ [for="rating-two"],
#rating-five[type="radio"]:checked  ~ [for="rating-three"],
#rating-five[type="radio"]:checked  ~ [for="rating-four"],
#rating-five[type="radio"]:checked  ~ [for="rating-five"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}


#rating-one[type="radio"]:hover ~ [for="rating-one"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-two[type="radio"]:hover  ~ [for="rating-one"],
#rating-two[type="radio"]:hover  ~ [for="rating-two"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-three[type="radio"]:hover  ~ [for="rating-one"],
#rating-three[type="radio"]:hover  ~ [for="rating-two"],
#rating-three[type="radio"]:hover  ~ [for="rating-three"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-four[type="radio"]:hover  ~ [for="rating-one"],
#rating-four[type="radio"]:hover  ~ [for="rating-two"],
#rating-four[type="radio"]:hover  ~ [for="rating-three"],
#rating-four[type="radio"]:hover  ~ [for="rating-four"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

#rating-five[type="radio"]:hover  ~ [for="rating-one"],
#rating-five[type="radio"]:hover  ~ [for="rating-two"],
#rating-five[type="radio"]:hover  ~ [for="rating-three"],
#rating-five[type="radio"]:hover  ~ [for="rating-four"],
#rating-five[type="radio"]:hover  ~ [for="rating-five"] {
  background-color: var(--color-primary-dark);
  background-image: none;
}

/* -- end ratings --*/

.img-display {
  display: none;
}

#img-shown-one ~ .img-display-main #img-shown-one,
#img-shown-two ~ .img-display-main #img-shown-two,
#img-shown-three ~ .img-display-main #img-shown-three {
  display: block;
  z-index: 1000;
}

.current-img {
  display: block;
}

.current-img-s {
  border-radius: 10px;
  border: 10px solid var(--color-primary-dark);
}

.button-l {
  left: -5px;
  bottom: 90px;
}

.button-r {
  right: -5px;
  bottom: 90px;
}

.info-card-title {
  color: var(--color-accent);
}

.separator {
  color: var(--color-primary-dark);
}

.info-container {
  border-top: 4px solid var(--color-primary-dark);
  border-bottom: 4px solid var(--color-primary-dark);
}

dl dd {
  margin: 0;
}

.popular-sell {
  margin-bottom: 4px solid var(--color-whatever);
}

.h3-separator {
  border-bottom: 4px solid var(--color-primary-dark);
  display: inline-block;
  line-height: 72px;
}
