.card {
  border-width: 4px;
  border-color: var(--color-secondary);
  border-style: solid;
  background-color: var(--color-primary);
}

.blackbg {
  background-color: var(--color-secondary);
  width: 100%;
}

.price {
  color: var(--color-primary-light);
}

.wonderland-featured {
  border-width: 4px;
  border-color: var(--color-secondary);
  border-style: solid;
  background-color: var(--color-primary);
  max-width: 400px;
}
