.card {
  border-width: 4px;
  border-color: var(--color-secondary);
  border-style: solid;
  padding-top: 0;
}

.blackbg {
  background-color: var(--color-secondary);
  width: 100%;
}

.price {
  color: var(--color-primary-light);
  float: right;
}
