h1 {
  color: #701647;
  padding: .5em;
  text-align: left;
  margin: 0;
  overflow: hidden;
}

.masthead {
  background: url("/images/one-dot-50.jpg");
  background-color: transparent;
  background-size: 25px;
  border-bottom: solid 3px #701647;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  background-color: #9e5681;
  border: solid 3px ;
  border-radius: 8px;
  color: #fff;
}

.nav a:hover {
  background-color: #fff;
  color: #9e5681;
}
