.pic {
  transition: all 200ms linear;
}

.pic:hover {
  left: 192px;
  top: 100px;
  transform: translate(0, -25px);
}

.view-card {
  background-color: var(--color-neutral-beige);
}

.img {
  background-color: var(--color-neutral-beige);
}
