:root {
  --color-primary: #00d4c4;
  --color-primary-light: #b9eee3;
  --color-secondary: #ff6871;
  --color-accent: #00d4c4;
  --color-neutral-beige: #b9eee3;
  --color-whatever: #bcf5a9;
  --font-primary: "Archivo Black", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

html {
  font-family: var(--font-primary);
}
