:root {
  --color-primary: #db4448;
  --color-primary-light: #fae053;
  --color-primary-dark: #2461cc;
  --color-secondary: #ee7236;
  --color-secondary-light: #fff;
  --color-secondary-dark: #4aa26c;
  --color-accent: #000;
  --color-neutral: #e2e2e2;
  --color-whatever: #777;
  --font-primary: "Rubik", sans-serif;
  --font-secondary: "Open Sans", monospace;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-size: 4em;
  line-height: 1em;
}

h2 {
  font-size: 3.25em;
  line-height: 1em;
}

h3 {
  font-size: 3em;
  font-weight: normal;
  line-height: 1em;
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 2em;
  font-weight: normal;
}

h6 {
  font-size: 1.5em;
}

a {
  color: var(--color-primary-dark);
}

ul li {
  list-style-type: none;
}

ol li {
  display: block;
  list-style-type: bullets;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 1em;
}

blockquote,
q {
  font-style: italic;
}

cite {
  font-weight: bold;
  font-style: normal;
}

mark {
  background-color: var(--color-primary-dark);
  color: #fff;
}

/* other css */

.cart-section {
  background-color: var(--color-primary-light);
}

.cart-checkout {
  background-color: var(--color-secondary-dark);
}

.cart-checkout-text {
  border-bottom: 4px solid var(--color-accent);

}
