:root {
  --color-primary: #DB4448;
  --color-primary-light: #FAE053;
  --color-primary-dark: #2461CC;
  --color-secondary: #EE7236;
  --color-secondary-light: #fff;
  --color-secondary-dark: #4AA26C;
  --color-accent: #333333;
  --color-neutral: #e2e2e2;
  --color-whatever: #f3f3f3;

  --font-primary: "Rubik", sans-serif;
  --font-secondary: "Open Sans", monospace;

}

html {
  font-family: var(--font-primary);
}
