h1 {
  font-family: var(--font-primary);
}
.intro-section {
  margin-right: 2em;
  font-family: var(--font-secondary);
}

.nav-checkout {
  color: var(--color-primary-light);
  font-family: var(--font-secondary);
  text-align: center;
}

.nav-bg {
  color: var(--color-primary);
}

.nav-list {
  padding-left: 0;
}

.logo,
nav {
  text-align: center;
}

nav a {
  color: var(--color-primary-light);
  border-bottom: 1.5px solid var(--color-primary);
  text-decoration: none;
}

nav a:hover {
  border-color: var(--color-whatever);
  color: var(--color-whatever);
}
