.table-list {
  min-width: 51em;
  background-color: var(--color-secondary-dark);
}
.table-list  th:not(.rowhead) {
  border: none;
}

.table-list tbody th,
.table-list tbody td {
  border-bottom: none;
}

.table-list tr:focus {
  outline: 3px solid #000;
}

.table-list tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--color-secondary-darker);
}

.table-list thead {
  background-color: var(--color-secondary);
}

.table-list thead > tr > th {
  font-family: var(--font-secondary);
}

.table-list tbody tr > td:nth-child(2) > p:first-child {
  font-family: var(--font-secondary);
}

.table-list tbody tr > td:nth-child(2) > p:last-child {
  color: var(--color-secondary-darker);
}

.summary {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  background-color: var(--color-secondary-dark);
}

.summary-border {
  border-bottom: 2px solid var(--color-secondary-darker);
}

.checkout {
  background-color: var(--color-secondary-dark);
  margin-left: auto;
}

.checkout > fieldset:not(.step-2) {
  border-bottom: 2px solid var(--color-secondary-darker);
}

.checkout > fieldset > legend {
  margin: auto;
}

.step .number {
  color: var(--color-secondary);
}
