.panels > li {
  display: none;
}

.panels > li:first-child {
  display: block;
}

.tabs > li:hover a {
  transition: all .3s ease;
  border: 3px solid var(--color-primary-light);
}

.product-subhead {
  color: var(--color-secondary-darker);
  font-family: var(--font-primary);
}

.poster-details {
  text-align: center;
}

.details .delivery {
  color: var(--color-secondary-darker);
}

@media only screen and (min-width: 38em) {

  .poster-details {
    text-align: left;
    max-width: 21em;
  }

}
