h1 {
  color: #701647;
  padding: .5em;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

.masthead {
  border-bottom: solid 3px #701647;
}

.nav-ul > li::before {
    content: none;
}

.nav-ul li {
  display: block;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav-btn {
  background-color: transparent;
  border-bottom: 2px solid transparent ;
  color: var(--color-primary);
  text-decoration: none;
}

.nav-btn:hover {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.current {
  background-color: transparent;
  border-bottom: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

@media only screen and (min-width:38em) {
  .nav-ul li {
    display: inline-block;
    }

  h1 {
    text-align: left;

}

  .nav-ul {
    text-align: right;
  }

}
