<!DOCTYPE html>
<html lang="en-ca">
<link href="https://fonts.googleapis.com/css?family=Almendra+SC|Aref+Ruqaa:400,700" rel="stylesheet">

<head>
  <meta charset="utf-8">
  <title>GeoHub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg">

  <ul class="skip-links">
    <li><a href="#main">Skip to the main content</a></li>
  </ul>

  {% pattern header/header %}

  <main role="main" id="main" tabindex="0">
    {{content}}
  </main>

  {% pattern footer/footer %}

</body>
</html>
