.dots {
  background: url("/images/one-dot-50.jpg");
  background-color: transparent;
  background-size: 5px;
  border-bottom: solid 3px var(--color-primary);
  color: var(--color-primary);
  height: 30em;
}
