.promo-banner {
  text-decoration: none;
  background-color: var(--color-blue);
  width: 100%;
  transition: all .3s linear;
}

.hb-content {
  width: 100%;
  background-color: var(--color-secondary);
}

.pb-title,
.pb-content {
  color: var(--color-secondary);
}

.promo-banner:hover {
  background-color: var(--color-primary-light);
  transition: all .3s linear;
}

.page-banner {
  background-color: var(--color-primary);
}

.page-title {
  color: var(--color-secondary);
}

@media only screen and (min-width: 38em) {

  .hb-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, .6);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, .5));

    text-align: center;
  }

  .hero-banner {
    max-height: 25em;
  }

  .sec-content {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

}
